<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.supriya_pc.class_faculty">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Facultymain1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Facultysetting2" />
        <activity android:name=".Facultytoolbar" />
        <activity android:name=".Facultynotification" />
        <activity android:name=".Settings" />
        <activity android:name=".Attendence" />
        <activity android:name=".Class1" />
        <activity android:name=".Dailyattendence" />
        <activity android:name=".Groups" />
        <activity android:name=".Registration" />
        <activity android:name=".Notes" />
        <activity android:name=".Notes1" />
        <activity android:name=".Roster" />
        <activity android:name=".Roster1" />
        <activity android:name=".Resetcontact" />
        <activity android:name=".Facultydetails" />
        <activity android:name=".Settingsreset" />
        <activity android:name=".Dailyroster" />
        <activity android:name=".Assignments" />
        <activity android:name=".Assignment1" />
        <activity android:name=".Cardview"></activity>
    </application>

</manifest>